
body{ 
	margin: 0;
	padding: 0;
}

.swfbox{
	display = none;
	z-index: 5100;
}

.swfbox-back{
	position: absolute;
	left: 0%;
	width: 100%;
}

.swfbox-container{
	position: absolute;
	left: 0%;
	width: 100%;
	overflow: visible;
}
 
.swfbox-content{
	position: absolute;
	left: 0%;
	width: 100%;
	text-align: center;
}

.swfbox-flash{ 
	vertical-align: middle; 
}